@import 'boot/config';


body {
	font: 16px $font_1;
	background-color: #fff;
	color: $color_dark;
}

li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}



.header {

	.header__wrap {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;
	}

	.header__inner {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: rgba(255, 255, 255, 0.95);
		height: 84px;
		// outline: 1px solid red;
	}

	.header__logo {
		@include center-1;
		width: 45.41px;
		height: 42px;
	}

	.header__right {
		display: flex;
		align-items: center;
	}

	.header__phone-number {
		font: 14px $font_2;
		span {opacity: 0.5;}
		&:hover span {
			opacity: 1;
		}

		i {
			float: left;
			margin-top: 1px;
			margin-right: 10px;
			display: inline-block;
			height: 14px;
			width: 9px;
			background-color: $color_dark;
			padding: 3px 2px;
			border-radius: 1px;

			&:before {
				display: block;
				background-color: #fff;
				width: 100%;
				height: 100%;
				content: "";
			}
		}
		
	}

	.btn--def {
		margin-left: 20px;
	}
}


.opening {

	.opening__wrap {
		height: 100vh;
	}

	.opening__inner {
		text-align: center;

	}

	.opening__slider {
		display: inline-block;
		margin-top: 84px * 2;
	}

	.slider__slogan {
		font-style: normal;
		font-weight: 800;
		font-size: 34px;
		letter-spacing: 0.05em;

		span {
			color: $color_blue;
		}
	}
}

.about-section {
	text-align: center;

	.logo--origin {
		display: inline-block;

	}

	.about-section__desc {
		margin-top: 42px;
	}
}

.advantages-section {

	.advantages-section__items-list {
		margin-top: 56px;
	}

	.advantages-section__item {
		width: size(4);
		text-align: center;
		margin: 0 15px;
		padding: 0 30px;
	}

	.advantages-section__adv {
		margin: 28px 0 14px 0;
		font-style: normal;
		font-weight: 800;
		font-size: 14px;
		line-height: 140%;
		text-align: center;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	.prgh--adv {
		line-height: 130%;
		color: rgba(50, 54, 60, 0.81);
		margin: 0;
	}
}

.portfolio-section {
	.portfolio-section__item {
		width: size(4);
		margin: 0 15px;
		margin-bottom: 28px;

		a {
			position: relative;
			display: block;
			
			text-decoration: none;
			

			&:before {
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				opacity: 0;
				content: "";
				width: 0;
				height: 100%;
				background: linear-gradient(135.08deg, #4F83CB 0%, rgba(79, 131, 203, 0.3) 100%);
				z-index: 0;
				transition: 0.4s  ease-in-out;
			}

			p {
				position: absolute;
				top: 45%;
				opacity: 0;
				font: 16px $font_2;
				font-style: normal;
				font-weight: bold;
				letter-spacing: 0.1em;
				width: 100%;
				text-align: center;
				z-index: 1;
				color: #fff;
				text-transform: uppercase;
				text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
				transition: 0.4s ease-out;
			}

			&:hover:before  {
				opacity: 1;
				width: 100%;
			}

			&:hover p  {
				opacity: 1;
			}
		}

		img {
			@include img-responsive;
		}
	}
}