@import 'boot/config';


body {
	font: 16px $font_1;
	background-color: #fff;
	color: $color_dark;
}

li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}

.opening-section {

	.opening-section__wrap {
		position: relative;
		height: 100vh;
	}

	.opening-section__inner {
		text-align: center;

	}

	.opening-section__slider {
		display: inline-block;
		margin-top: 84px * 2;
	}

	.slider__animation-box {
		position: relative;
		min-height: 170px;
	}

	.animation-box__layer-1, .animation-box__layer-2, .animation-box__layer-3 {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0;
	}

	.animation-box__layer-1 {
		top: 0;
	}

	.animation-box__layer-2 {
		left: 30px;
		top: 14px;
	}


	.animation-box__layer-3 {

		top: 58px;
		i {
		    border: 1px solid #32363C;
			display: inline-block;
			padding: 21px 25px 10px 25px;
			border-radius: 8px;
			background-color: rgba(255,255,255,0.18);
			box-shadow: 0 15px 24px rgba(28,108,254,0.24);
	 
		}
	}

	.slider__slogan {
		font-style: normal;
		font-weight: 800;
		font-size: 34px;
		letter-spacing: 0.05em;
		margin-top: 84px;
		p {margin: 0;}

		span {
			color: $color_blue;
		}
	}


	.slider__controls {
		margin-top: 84+56px;
		justify-content: center;
		
		li {
			margin: 0 15px;
		}

		.btn--slider-control  {
			position: relative;
			background: #fff;
			width: 42px;
			height: 42px;
			border: 1px solid $color_dark;
			border-radius: 50px;
			opacity: 0.9;
			overflow: hidden;

			i {
				position: absolute;
				display: inline-block;
				width: 6px;
				height: 6px;
				background: $color_dark;
				border-radius: 7px;
			}
		}

		li:nth-child(1) .btn--slider-control i {
			margin: auto;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}

		li:nth-child(2) .btn--slider-control i {
			margin: auto;
			left: 0;
			right: 0;
			top: 11px;
			
			+ i {
				top: auto;
				bottom: 11px;
			}
		}

		li:nth-child(3) .btn--slider-control i {
			margin: auto;
			left: 0;
			right: 0;
			top: 11px;
			bottom: auto;

			+ i {
				left: 11px;
				right: auto;
				top: auto;
				bottom: 12px;
			}

			+ i + i {
				left: auto;
				right: 11px;
			}
		}

		li.on .btn--slider-control{
			background-color: $color_dark;
			&:after {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				display: inline-block;
				content: "";
				border: 3px solid #fff;
				border-radius: 100%;
				width: 92%;
				height: 92%;
				margin: auto;
			}
			i {background-color: #fff;}
		}
	}
}

.about-section {
	text-align: center;

	.logo--origin {
		display: inline-block;

	}

	.about-section__desc {
		margin-top: 42px;
	}
}

.advantages-section {

	.advantages-section__items-list {
		margin-top: 56px;
	}

	.advantages-section__item {
		width: size(4);
		text-align: center;
		margin: 0 15px;
		padding: 0 30px;
	}

	.advantages-section__adv {
		margin: 28px 0 14px 0;
		font-style: normal;
		font-weight: 800;
		font-size: 14px;
		line-height: 140%;
		text-align: center;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	.prgh--def {
	 
		color: rgba($color: $color_dark, $alpha: 0.80);
		margin: 0;
	}
}

.portfolio-section {

	.portfolio-section__items-list {
		text-align: center;
	}

	.link--def {
		// display: block;
		// text-align: center;
	}


	.portfolio-section__item {
		width: size(4);
		margin: 0 15px;
		margin-bottom: 28px;

		a {
			position: relative;
			display: block;
			text-decoration: none;
			box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.15);
			

			&:before {
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				opacity: 0;
				content: "";
				width: 0;
				height: 100%;
				background: rgba($color: $color_dark, $alpha: 0.95);;
				z-index: 0;
				transition: 0.4s  ease;
			}

			p {
				position: absolute;
				top: 45%;
				opacity: 0;
				transform: scale(2);
				font-style: normal;
				font-weight: normal;
				letter-spacing: 1.2em;
				width: 100%;
				text-align: center;
				z-index: 1;
				color: #fff;
				text-transform: uppercase;
				text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
				transition: 0.4s ease-out;
			}

			&:hover:before  {
				opacity: 1;
				width: 100%;
			}

			&:hover p  {
				opacity: 1;
				letter-spacing: 0.2em;
				transform: scale(1);
			}
		}

		img {
			@include img-responsive;
		}
	}
}


.brief-section {
	text-align: center;
	margin-top: 56px;
}