@import 'boot/config';


body {
	font: 16px $font_1;
	background-color: #fff;
	color: $color_dark;
}

li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}




.content {
	min-height: 720px;
	padding-top: 84px;
	// overflow: hidden;
}


// * ---------------------------------
// * PAGE HOME
// * ---------------------------------





.page--home .content {
	margin-top: 0;
}




// *******
.home-opening {

	.home-opening__wrap {
		position: relative;
		height: 100vh;
	}

	.home-opening__inner {
		text-align: center;

	}

	.home-opening__slider {
		display: inline-block;
		margin-top: 84px * 2;
	}

	.slider__item {
		display: none;
		position: absolute;
		left: 0;
		right: 0;

		&.slider__item_active {
			display: block;
		}
	}

	.slider__animation-box {
		position: relative;
		min-height: 170px;
		overflow: hidden;
	}

	.animation-box__layer-1, .animation-box__layer-2, .animation-box__layer-3 {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0;
	}

	.animation-box__layer-1 {
		top: 0;
	}

	.animation-box__layer-2 {
		left: 30px;
		top: 14px;
	}


	.animation-box__layer-3 {

		top: 58px;
		i {
		    border: 1px solid #32363C;
			display: inline-block;
			padding: 21px 25px 10px 25px;
			border-radius: 8px;
			background-color: rgba(255,255,255,0.18);
			box-shadow: 0 15px 24px rgba(28,108,254,0.24);
	 
		}
	}

	.slider__slogan {
		font-style: normal;
		font-weight: 800;
		font-size: 34px;
		letter-spacing: 0.05em;
		margin-top: 84px;
		padding: 0 15px;
		p {margin: 0;}

		span {
			color: $color_blue;
		}
	}


	.slider__controls {
		// margin-top: 84+56px;
		width: 80%;
		justify-content: center;
		position: absolute;
		bottom: 84px;
		left: 0;
		right: 0;
		margin: auto;

		
		
		li {
			margin: 0 15px;
		}

		.btn--slider-control  {
			position: relative;
			background: #fff;
			width: 42px;
			height: 42px;
			border: 1px solid $color_dark;
			border-radius: 50px;
			opacity: 0.9;
			overflow: hidden;
			transition: 0.3s;

			&:hover {
				transform: rotate(180deg);
				background: $color_blue_1 !important;
				border-color: $color_blue_1;

				i {
					background-color: #fff;
				}

				 
			}

			i {
				position: absolute;
				display: inline-block;
				width: 6px;
				height: 6px;
				background: $color_dark;
				border-radius: 7px;
			}
		}

		li:nth-child(1) .btn--slider-control i {
			margin: auto;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}

		li:nth-child(2) .btn--slider-control i {
			margin: auto;
			left: 0;
			right: 0;
			top: 11px;
			
			+ i {
				top: auto;
				bottom: 11px;
			}
		}

		li:nth-child(3) .btn--slider-control i {
			margin: auto;
			left: 0;
			right: 0;
			top: 11px;
			bottom: auto;

			+ i {
				left: 11px;
				right: auto;
				top: auto;
				bottom: 12px;
			}

			+ i + i {
				left: auto;
				right: 11px;
			}
		}

		li.on .btn--slider-control{
			background-color: $color_dark;
			&:after {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				display: inline-block;
				content: "";
				border: 3px solid #fff;
				border-radius: 100%;
				width: 92%;
				height: 92%;
				margin: auto;
			}
			i {background-color: #fff;}
		}
	}


	@media screen and (max-width: $screen_md) {
		.home-opening__slider {
			margin-top: 298px;
		}
	}

	@media screen and (max-width: $screen_sm) {
		.home-opening__slider {
			margin-top: 84+28px;
		}

		
		.animation-box__layer-1, .animation-box__layer-2, .animation-box__layer-3 {
		 
			transform: scale(0.8);
		}
		.animation-box__layer-1 {
			left: -20%;
		}

		.slider__slogan {
			font-size: 1.5rem;
			margin-top: 56px;
		}

		.slider__controls {
			bottom: 56px;
		}
	}

	
	@media screen and (max-width: $screen_xs) {
		.home-opening__slider {
			margin-top: 84px;
		}
	}

	@media screen and (min-width: $screen_iphonex) and (max-width: $screen_iphonex + 1) {
		 .home-opening__slider {
			margin-top: 84+70px;
		}
	}


}




// *******
.home-about {
	text-align: center;

	.logo--origin {
		display: inline-block;

	}

	.home-about__desc {
		margin-top: 42px;
	}
}




// *******
.home-advantages {

	.home-advantages__items-list {
		margin-top: 56px;
	}

	.home-advantages__item {
		width: size(4);
		text-align: center;
		margin: 0 15px;
		padding: 0 30px;
	}

	.home-advantages__adv {
		margin: 28px 0 14px 0;
		font-style: normal;
		font-weight: 800;
		font-size: 14px;
		line-height: 140%;
		text-align: center;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	.prgh--def {
	 
		color: rgba($color: $color_dark, $alpha: 0.80);
		margin: 0;
	}

	@media screen and (max-width: $screen_md) {
		.home-advantages__item {
			padding: 0 10px;
		}
	}

	@media screen and (max-width: $screen_sm) {
		.home-advantages__item {
			width: size(12);
			margin-bottom: 28px;
		}
	}
}




// *******
.home-portfolio {
 
	.home-portfolio__items-list {
		text-align: center;
	}
 
	.home-portfolio__item {
		width: size(4);
		margin: 0 15px;
		margin-bottom: 28px;

		a {
			position: relative;
			display: block;
			text-decoration: none;
			box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.15);
			overflow: hidden;
			

			&:before {
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				opacity: 0;
				content: "";
				width: 0;
				height: 100%;
				background: rgba($color: $color_dark, $alpha: 0.95);;
				z-index: 0;
				transition: 0.4s  ease;
			}

			p {
				position: absolute;
				top: 45%;
				opacity: 0;
				transform: scale(2);
				font-style: normal;
				font-weight: normal;
				letter-spacing: 1.5em;
				width: 100%;
				text-align: center;
				z-index: 1;
				color: #fff;
				text-transform: uppercase;
				text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
				transition: 0.4s ease-out;
			}

			&:hover:before  {
				opacity: 1;
				width: 100%;
			}

			&:hover p  {
				opacity: 1;
				letter-spacing: 0.2em;
				transform: scale(1);
			}
		}

		img {
			@include img-responsive;
		}
	}

	 

	@media screen and (max-width: $screen_sm) {
		.home-portfolio__item {
			width: size(6);
			margin-bottom: 28px;

			p {
				top: 40% !important;
				font-size: 14px;
			}
		}
	}
}




// *******
.home-brief {
	text-align: center;
	margin-top: 56px;
}









// * ---------------------------------
// * PAGE ABOUT
// * ---------------------------------




// *******
.about-team {

	.about-team__member {
		position: relative;
		width: size(3);
		margin: 0 15px;


		&:hover {
			.member__info {
				max-height: 400px;
				opacity: 1;
			}

			.member__photo {
				&:after {opacity: 0;}
				&:before {opacity: 1;}
				
				img {filter: grayscale(0);}
			}

			.member__name {
				bottom: 20%;

				p {
					opacity: 1 !important;

					&:first-child {
						letter-spacing: 0.1em;
					}
				}


			}
		}


		.member__photo {
			position: relative;
			// display: inline-block;
			border-radius: 6px;
			overflow: hidden;

			&:after, &:before {
				content: "";
				position: absolute;
				top: 0;
				overflow: hidden;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 1;
				// background: linear-gradient(180deg, rgba(33, 80, 152, 0.9) 0%, rgba(33, 80, 152, 0) 100%);
				background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
				transition: 0.3s opacity;
			}

			&:before {
				opacity: 0;
				// background: linear-gradient(360deg, rgba(26, 108, 230, 0.9) 0%, rgba(26, 108, 230, 0) 100%);
				background: linear-gradient(360deg, rgba(26, 108, 230, 0.9) 0%, rgba(26, 108, 230, 0) 100%);
			}

			img {
				filter: grayscale(1);
				@include img-responsive;
			}

		}

		.member__name {
			position: absolute;
			bottom: 40%;
			left: 0;
			right: 0;
			color: #fff;
			z-index: 3;
			transition: 0.25s bottom ease-out;

			p {
				text-align: center;
				margin: 0;

				&:first-child {
					font: 1rem $font_2;
					font-style: normal;
					font-weight: 500;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					opacity: 0.8;
					transition: 0.3s letter-spacing;
				}

				&:last-child {
					font-style: normal;
					font-weight: normal;
					letter-spacing: 0.1em;
					text-decoration-line: underline;
					opacity: 0.6;
				}

			}
		}
		
		.member__info {
			position: absolute;
			overflow: hidden;
			width: 100%;
			left: 0;
			max-height: 0;
			padding: 15px;
			opacity: 0;
			top: 96%;
			background: #fff;
			border: 1px solid #EEEEEE;
			box-shadow: 0px 13px 15px rgba(50, 54, 60, 0.1);
			border-radius: 0 0 15px 15px;
			transition: max-height 0.4s, opacity 0.2s;
			box-sizing: border-box;
			z-index: 1;

			h4 {
				font-style: normal;
				font-weight: 800;
			}

			hr {
				width: 50%;
				margin: 0;
				border: none;
				border-top: 1px solid rgba($color: $color_dark, $alpha: 0.2)
			}
		}
	}

	@media screen and (max-width: $screen_md) {
		.about-team__member {
			width: size(6);
			margin-bottom: 28px;
			 
		}
	}

	@media screen and (max-width: $screen_sm) {
		.about-team__member {
			width: size(12);
	 

			p {
				top: 40% !important;
				font-size: 14px;
			}
		}
	}

	
}




// *******
.about__social-links {
	ul {
		justify-content: center;
	}
	.link--social-item {
		margin:  0 15px;
		border: 1px solid $color_blue;
		transform: scale(1.4);
		&:hover {
			background: $color_blue !important;
		}
		.icon {
			fill: $color_blue;
		}
	}
}




// *******
.about-contacts {
	text-align: center;
	margin-top: 56px ;
}







// * ---------------------------------
// * PAGE CONTACTS
// * ---------------------------------




// *******
.contacts-info {
	text-align: center;

	.contacts-info__logo {
		opacity: 0.3;
	}

	.contacts-info__data {
		p {
			font-style: normal;
			font-weight: 500;
			font-size: 22px;
		
			b {
				color: $color_blue;
				font-weight: 800;
			}

			&:nth-child(2) a {
				color: $color_blue_1;
				font-family: $font_2;
			}

			&:nth-child(3) {
				font-family: $font_2;
			}
		}

		


	}
}




// *******
.contacts-form {
	text-align: center;
	margin-top: 56px;

	.contacts-form__form {
		width: size(6);
		margin: auto;
	}

	.field {
		margin-top: 35px;
	}

	.btn--2 {
		margin-top: 56px;
	}

	@media screen and (max-width: $screen_sm) {
		 .contacts-form__form {
			width: size(12);
		}
	}
}




// *******
.contacts-map {
	.contacts-map__wrap {
 
		margin-top: 84px;
		margin-bottom: -84px;
		filter: grayscale(1) invert(1) brightness(80%);
		transition: 0.3s filter;

		&:hover {
			filter: none;
		}

		 
	}
}







// * ---------------------------------
// * PAGE SERVICES
// * ---------------------------------




// *******
.services-list {
	margin-top: 56px;
	.service-item {
		width: size(6);
		margin: auto;
		text-align: center;
		margin-bottom: 56px;
		padding-bottom: 56px;
		border-bottom: 1px solid rgba($color: $color_dark, $alpha: 0.26);
		&:last-child {border: none;}
	}

	.service-item__title {
		font-style: normal;
		font-weight: 800;
		font-size: 34px;
		letter-spacing: 0.05em;
		margin-top: 42px;
		margin-bottom: 14px;
		color: $color_blue;
	}

	ul {
		li {
			font-size: 22px;
			margin-top: 14px;
			margin-bottom: 0;
		}
	}
}