.address
	//- p.home-main__title Укажите нам свой адрес для поиска ресторанов
	.panel.panel--address-def
		.container
			form
				//- button.btn.btn--map-placeholder
				.address__field.c-lg-8.c-md-8.c-sm-8.c-xs-8
					span.field.field-text--address-street
						input(type="text", placeholder="Улица")
				.address__field.c-lg-1.c-md-1.c-sm-4.c-xs-4
					span.field.field-text--address-number
						input(type="text", placeholder="Дом")
				.address__field.c-lg-3.c-md-3.c-sm-12.c-xs-12
					button.btn.btn--submit-address Найти