html(lang="en")
	include boot/utils/mixins.pug
	include boot/layouts/_head_conf.pug
	body
		include boot/layouts/_svg_map.pug
		include boot/layouts/_header.pug
		

		//- HOME PAGE
		.page.page--about

			main.content

				//- --------------------------------------------------------------
				section.about-description
					.container
						h1.heading.heading--1 <span>О нас</span>

						p.prgh.prgh--def Банальные, но неопровержимые выводы, а также реплицированные с зарубежных источников, современные исследования превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. В рамках спецификации современных стандартов, интерактивные прототипы набирают популярность среди определенных слоев населения, а значит, должны быть своевременно верифицированы.. Хотя само их существование приносит несомненную пользу обществу
						p.prgh.prgh--def Жестко однако, но неопровержимые выводы, а также реплицированные с зарубежных источников, современные исследования превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. В рамках спецификации современных стандартов, интерактивные прототипы набирают популярность среди определенных слоев населения, а значит, должны быть своевременно верифицированы.. Хотя само их существование приносит несомненную пользу обществу. Банальные, но неопровержимые выводы, а также реплицированные с зарубежных источников, современные исследования превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. В рамках спецификации современных стандартов, интерактивные прототипы набирают популярность среди определенных слоев населения, а значит, должны быть своевременно верифицированы.. Хотя само их существование приносит несомненную пользу обществу

				section.about-team
					.container
						h3.heading.heading--3 <span><b>Наша</b> команда</span>

						.about-team__members-list
							.row
								.about-team__member
									.member__photo
										img(src="img/team_member_1.jpg")
									.member__name
										p Магомед Хамхоев
										p Веб-программист
									.member__info
										h4 Скиллы
										p HTML, CSS, JS, ES6, React, NodeJS
										hr
										h4 О себе
										p Пишу очень много кода, но как говорится лучше пиши меньше, а делай больше, это про меня. Еще умею делать заднее сальто наперед
								
								.about-team__member
									.member__photo
										img(src="img/team_member_2.jpg")
									.member__name
										p Беслан Теркакиев
										p Дизайнер
									.member__info
										h4 Скиллы
										p HTML, CSS, JS, ES6, React, NodeJS
										hr
										h4 О себе
										p Пишу очень много кода, но как говорится лучше пиши меньше, а делай больше, это про меня. Еще умею делать заднее сальто наперед
								
								.about-team__member
									.member__photo
										img(src="img/team_member_3.jpg")
									.member__name
										p Адам Харсиев
										p Копирайтер
									.member__info
										h4 Скиллы
										p HTML, CSS, JS, ES6, React, NodeJS
										hr
										h4 О себе
										p Пишу очень много кода, но как говорится лучше пиши меньше, а делай больше, это про меня. Еще умею делать заднее сальто наперед
								
								.about-team__member
									.member__photo
										img(src="img/team_member_4.jpg")
									.member__name
										p Юсуф Гамкартиев
										p Веб-программист
									.member__info
										h4 Скиллы
										p HTML, CSS, JS, ES6, React, NodeJS
										hr
										h4 О себе
										p Пишу очень много кода, но как говорится лучше пиши меньше, а делай больше, это про меня. Еще умею делать заднее сальто наперед
								
						

				section.about-social-links
					.container
						h3.heading.heading--3 <span><b>Мы</b> в соцсетях</span>



		include boot/layouts/_footer.pug
		






				
				



