html(lang="en")
	include boot/utils/mixins.pug
	include boot/layouts/_head_conf.pug
	body
		include boot/layouts/_svg_map.pug
		include boot/layouts/_header.pug
		

		//- HOME PAGE
		.page.page--contacts

			main.content
				h1.heading.heading--1 <span>Контакты</span>
				
				//- --------------------------------------------------------------
				section.contacts-info
					.container
						.contacts-info__logo
							+svg("", "logo_black")(class="icon icon--svg-logo-black")
						.contacts-info__data
							p <b>Адрес:</b> РИ, Назрань, Чеченская 154 
							p <b>Email:</b> <a href="mailto:tiwors@gmail.com">tiwors@gmail.com</a>
							p <b>Телефон:</b> 8(906) 777-66-06
				
				//- --------------------------------------------------------------
				section.contacts-form
					.container
						.contacts-form__wrap
							h2.heading.heading--2 <span>Остались вопросы?</span>
							form(action="")
								span.field.field--1
									span.field__placeholder ФИО
									input(type="text")
								span.field.field--1.field--1_focused
									span.field__placeholder e-mail
									input(type="text")
								span.field.field--1
									span.field__placeholder Тема
									input(type="text")
								span.field.field--1
									span.field__placeholder Сообщение
									input(type="text")

						


		include boot/layouts/_footer.pug
		






				
				



