html(lang="en")
	include boot/utils/mixins.pug
	include boot/layouts/_head_conf.pug
	body
		include boot/layouts/_svg_map.pug
		include boot/layouts/_header.pug
		

		//- HOME PAGE
		.page.page--contacts

			main.content
				h1.heading.heading--1 <span>Контакты</span>
				
				//- --------------------------------------------------------------
				section.contacts-info
					.container
						.contacts-info__logo
							+svg("", "logo_black")(class="icon icon--svg-logo-black")
						.contacts-info__data
							p <b>Адрес:</b> РИ, Назрань, Чеченская 154 
							p <b>Email:</b> <a href="mailto:tiwors@gmail.com">tiwors@gmail.com</a>
							p <b>Телефон:</b> 8(906) 777-66-06
				
				//- --------------------------------------------------------------
				section.contacts-form
					.container
						.contacts-form__wrap
							h2.heading.heading--2 <span>Остались вопросы?</span>
							form(action="" class="contacts-form__form")
								span.field.field--1
									span.field__placeholder ФИО
									input(type="text")
								span.field.field--1.field--1_focused
									span.field__placeholder e-mail
									input(type="text")
								span.field.field--1
									span.field__placeholder Тема
									input(type="text")
								span.field.field--1
									span.field__placeholder Сообщение
									input(type="text")
								button.btn.btn--1_theme_blue_inverse.bg--gd-blue.contacts-form__button-submit <span>Отправить</span>

				section.contacts-map
					.contacts-map__wrap
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2907.3451066126368!2d44.74618595113452!3d43.22322357903596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40506f50f18882e3%3A0xe5b4ddc2205b996!2sTIWORS!5e0!3m2!1sru!2sru!4v1573239747416!5m2!1sru!2sru" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
				
						


		include boot/layouts/_footer.pug
		






				
				



