html(lang="en")

	include _pug/_head_conf.pug
	body
		header.header
			.container
				.header__inner
					button.btn.btn--hamburger
						span
					a.header__logo
						img(src="img/svg/logo-icon.svg", alt="tiwors")
					.header__right
						p.header__phone-number <i></i><span>8(906) 777-66-06</span>
						button.btn.btn--def Оставить заявку
				
		
		
		







				
				



