html(lang="en")

	include _pug/_head_conf.pug
	body
		header.header
			.header__wrap
				.container
					.header__inner
						button.btn.btn--hamburger <span></span>
						a.header__logo
							img(src="img/svg/logo-icon.svg", alt="tiwors")
						.header__right
							p.header__phone-number <i></i><span>8(906) 777-66-06</span>
							button.btn.btn--def.bg--gdnt-1 <span>Оставить заявку</span>
		

		//- PAGE HOME
		.page.page--home

			.opening
				.opening__wrap
					.container
						.opening__inner
							.opening__slider
								ul.slider__items-list
									li.slider__item
										.slider__animation-box
											h1 sadad
										.slider__slogan
											p Готовые решения для <span>вашего бизнеса<span/>!
								//- ul.slider__controls
									li
										button .

			main.content
				section.about-section
					.container
						h2.heading.heading--primary <span>Кто мы</span>
						.logo.logo--origin
							img(src="img/svg/logo-full.svg")
						.about-section__desc
							p.prgh.prgh--def Банальные, но неопровержимые выводы, а также реплицированные с зарубежных источников, современные исследования превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. В рамках спецификации современных стандартов, интерактивные прототипы набирают популярность среди определенных слоев населения, а значит, должны быть своевременно верифицированы.. Хотя само их существование приносит несомненную пользу обществу
				
				section.advantages-section
					.container
						.advantages-section__items-list
							.row
								.advantages-section__item
									.icon.icon--adv-1
										img(src="img/svg/icon-adv-1.svg", alt="")
									p.advantages-section__adv Этот слоган говорит о выгоде
									p.prgh.prgh--adv Банальные, но неопровержимые выводы, а также реплицированные с зарубежных источников
											
								.advantages-section__item
									.icon.icon--adv-1
										img(src="img/svg/icon-adv-1.svg", alt="")
									p.advantages-section__adv Этот слоган говорит о выгоде
									p.prgh.prgh--adv Банальные, но неопровержимые выводы, а также реплицированные с зарубежных источников
											
								.advantages-section__item
									.icon.icon--adv-1
										img(src="img/svg/icon-adv-1.svg", alt="")
									p.advantages-section__adv Этот слоган говорит о выгоде
									p.prgh.prgh--adv Банальные, но неопровержимые выводы, а также реплицированные с зарубежных источников
				
				section.portfolio-section
					.container
						h2.heading.heading--primary <span>Наши работы</span>
						
						.portfolio-section__items-list
							.row
								.portfolio-section__item
									a(href="#")
										img(src="img/work1.jpg", alt="")
										p Nissa
								.portfolio-section__item
									a(href="#")
										img(src="img/work2.jpg", alt="")
										p Idaliano
								.portfolio-section__item
									a(href="#")
										img(src="img/work3.jpg", alt="")
										p Hedi
								.portfolio-section__item
									a(href="#")
										img(src="img/work1.jpg", alt="")
										p Nissa
								.portfolio-section__item
									a(href="#")
										img(src="img/work2.jpg", alt="")
										p Idaliano
								.portfolio-section__item
									a(href="#")
										img(src="img/work3.jpg", alt="")
										p Hedi
						a( class="link link--def" href="#") Другие проекты

				section.brief-section
					.container
						h3.heading.heading--secondary Готовы обсудить проект?
						a( class="btn btn--def bg--gdnt-1" href="#") <span>Оставить заявку</span>

		
				
		
		
		

		footer.footer
			.container
				.footer__wrap
					.footer__decorate-layer
						include ../img/svg/decorate-shape-shadow.svg
					nav.footer__nav
						ul.row.items-list
							li
								a(href="#") Портфолио
							li
								a(href="#") О нас
							li
								a(href="#") Услуги
							li
								a(href="#") Контакты
					.footer__social-links
						ul
							li
								a(href="#")
							li
								a(href="#")
							li
								a(href="#")
							li
								a(href="#")
					p.footer__copyright &copy; 2019 <span>Tiwors</span>. Студия Креатива.






				
				



