html(lang="en")
	include boot/utils/mixins.pug
	include boot/layouts/_head_conf.pug
	body
		include boot/layouts/_svg_map.pug
		include boot/layouts/_header.pug
		

		//- HOME PAGE
		.page.page--portfolio

			main.content
				h1.heading.heading--1 <span>Портфолио</span>
				
				//- --------------------------------------------------------------
				section.portfolio-description
					.container
						p.prgh.prgh--def Банальные, но неопровержимые выводы, а также реплицированные с зарубежных источников, современные исследования превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. В рамках спецификации современных стандартов, интерактивные прототипы набирают популярность среди определенных слоев населения, а значит, должны быть своевременно верифицированы.. Хотя само их существование приносит несомненную пользу обществу
				
				section.portfolio-tags
					.container
						ul
							li
								button.btn.btn-tag
				

					
						


		include boot/layouts/_footer.pug
		






				
				



