html(lang="en")
	include boot/utils/mixins.pug
	include boot/layouts/_head_conf.pug
	body
		include boot/layouts/_svg_map.pug
		include boot/layouts/_header.pug
		

		//- HOME PAGE
		.page.page--portfolio

			main.content
				h1.heading.heading--1 <span>Портфолио</span>
				
				//- --------------------------------------------------------------
				section.portfolio-description
					.container
						p.prgh.prgh--def Банальные, но неопровержимые выводы, а также реплицированные с зарубежных источников, современные исследования превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. В рамках спецификации современных стандартов, интерактивные прототипы набирают популярность среди определенных слоев населения, а значит, должны быть своевременно верифицированы.. Хотя само их существование приносит несомненную пользу обществу
				
				//- --------------------------------------------------------------
				section.portfolio-tags
					.container
						ul.row.tags.portfolio-tags__list
							li.portfolio-tags__item
								button.btn.btn--tag_theme_blue.btn--tag_active Лендинги
							li.portfolio-tags__item
								button.btn.btn--tag_theme_blue Сайты-визитки
							li.portfolio-tags__item
								button.btn.btn--tag_theme_blue Логотипы
							li.portfolio-tags__item
								button.btn.btn--tag_theme_blue Флаера
							li.portfolio-tags__item
								button.btn.btn--tag_theme_blue Интернет-магазины
							li.portfolio-tags__item
								button.btn.btn--tag_theme_blue Фирстиль
				
				//- --------------------------------------------------------------
				section.portfolio-list
					.container
						ul
							li.portfolio-item.portfolio-item--active.portfolio-list__item
								.portfolio-item__preview
									img(src="img/portfolio_item_1.jpg", alt="")
								.portfolio-item__description
									p.portfolio-item__name Магас Риэлт
									p.prgh.prgh--def Банальные, но неопровержимые выводы, а также реплицированные с зарубежных источников, современные исследования превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. В рамках спецификации современных стандартов, интерактивные прототипы набирают популярность среди определенных слоев населения, а значит, должны быть своевременно верифицированы.. 
									button.btn.btn--1_theme_dark.bg--gd-orange <span>Открыть проект</span>
									
							li.portfolio-item.portfolio-list__item
								.portfolio-item__preview
									img(src="img/portfolio_item_1.jpg", alt="")
								.portfolio-item__description
									p.portfolio-item__name Магас Риэлт
									p.prgh.prgh--def Банальные, но неопровержимые выводы, а также реплицированные с зарубежных источников, современные исследования превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. В рамках спецификации современных стандартов, интерактивные прототипы набирают популярность среди определенных слоев населения, а значит, должны быть своевременно верифицированы.. 
									button.btn.btn--1_theme_dark.bg--gd-orange <span>Открыть проект</span>
									
							li.portfolio-item.portfolio-list__item
								.portfolio-item__preview
									img(src="img/portfolio_item_1.jpg", alt="")
								.portfolio-item__description
									p.portfolio-item__name Магас Риэлт
									p.prgh.prgh--def Банальные, но неопровержимые выводы, а также реплицированные с зарубежных источников, современные исследования превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. В рамках спецификации современных стандартов, интерактивные прототипы набирают популярность среди определенных слоев населения, а значит, должны быть своевременно верифицированы.. 
									button.btn.btn--1_theme_dark.bg--gd-orange <span>Открыть проект</span>
									
								
				

					
						


		include boot/layouts/_footer.pug
		






				
				



