html(lang="en")
	include boot/utils/mixins.pug
	include boot/layouts/_head_conf.pug
	body
		include boot/layouts/_svg_map.pug
		include boot/layouts/_header.pug
		

		//- HOME PAGE
		.page.page--case

			main.content
				
				//- --------------------------------------------------------------
				section.case-opening
					
					
				
				
				

					
						


		include boot/layouts/_footer.pug
		






				
				



