html(lang="en")
	include boot/utils/mixins.pug
	include boot/layouts/_head_conf.pug
	body
		include boot/layouts/_svg_map.pug
		include boot/layouts/_header.pug
		

		//- HOME PAGE
		.page.page--case

			main.content
				
				//- --------------------------------------------------------------
				section.case-opening
					.case-opening__wrap
						.case-opening__preview
							img(src="img/portfolio_item_1.jpg", alt="")
						p.case-opening__case-name Магас Риэлт

				//- --------------------------------------------------------------
				section.case-mockup
					.container
						.case-mockup__item
							img(src="img/mockup_1.jpg", alt="")

				//- --------------------------------------------------------------
				section.case-description
					.container
						.case-mockup__item


					
					
				
				
				

					
						


		include boot/layouts/_footer.pug
		






				
				



