html(lang="en")
	include boot/utils/mixins.pug
	include boot/layouts/_head_conf.pug
	body
		include boot/layouts/_svg_map.pug
		include boot/layouts/_header.pug
		

		//- HOME PAGE
		.page.page--services

			main.content
				h1.heading.heading--1 <span>Услуги</span>
				
				//- --------------------------------------------------------------
				section.services-description
					.container
						h2.heading.heading--2 Что мы можем вам предложить?
						p.prgh.prgh--def Банальные, но неопровержимые выводы, а также реплицированные с зарубежных источников, современные исследования превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. В рамках спецификации современных стандартов, интерактивные прототипы набирают популярность среди определенных слоев населения, а значит, должны быть своевременно верифицированы.. Хотя само их существование приносит несомненную пользу обществу
				
				section.services-list
					.container
						.service-item
							span.icon.icon--service
								+svg("","icon_service-1")(class="icon icon--svg-service-1")
							p.service-item__title Дизайн
							ul
								li Логотип
								li Фирменный стиль
								li Лендинг
								li Флаера
						.service-item
							span.icon.icon--service
								+svg("","icon_service-2")(class="icon icon--svg-service-2")
							p.service-item__title Веб-разработка
							ul
								li Логотип
								li Фирменный стиль
								li Лендинг
								li Флаера
						.service-item
							span.icon.icon--service
								+svg("","icon_service-3")(class="icon icon--svg-service-3")
							p.service-item__title Копирайтинг
							ul
								li Логотип
								li Фирменный стиль
								li Лендинг
								li Флаера

					
						


		include boot/layouts/_footer.pug
		






				
				



