footer.footer
	.container
		.footer__wrap
			.footer__decorate-shadow-layer
				+svg("", "layer_decorate-shadow")(class="layer layer--decorate-shadow")
				
			nav.nav.footer__nav
				ul.nav__list.row
					li.nav__item
						a(href="#") Портфолио
					li.nav__item
						a(href="#") О нас
					li.nav__item
						a(href="#") Услуги
					li.nav__item
						a(href="#") Контакты
						
			.social-links.footer__social-links
				ul.row
					li.social-links__item
						a(href="#" class="link link--social-item")
							+svg("", "icon_social-vk")(class="icon icon--svg-social-vk")
					li.social-links__item
						a(href="#" class="link link--social-item")
							+svg("", "icon_social-ig")(class="icon icon--svg-social-ig")
					li.social-links__item
						a(href="#" class="link link--social-item")
							+svg("", "icon_social-tg")(class="icon icon--svg-social-tg")
					li.social-links__item
						a(href="#" class="link link--social-item")
							+svg("", "icon_social-fb")(class="icon icon--svg-social-fb")

			p.footer__copyright &copy; 2019 <span>Tiwors</span>. Студия Креатива.