header.header
	.header__wrap
		.container
			.header__inner
				button.btn.btn--hamburger.header__button-nav <span></span>
				a.header__logo(href="/")
					+svg("", "logo_icon")(class="icon icon--svg-logo-icon")
					//- img(src="img/svg/logo-icon.svg", alt="tiwors")
				.header__right
					p.header__phone-number <i></i><span>8(906) 777-66-06</span>
					button.btn.btn--primary.bg--gd-orange.header__btn-form <i>+</i><span>Оставить заявку</span>