header.header
	.header__wrap
		.container
			.header__inner
				button.btn.btn--hamburger.header__btn-hamburger <span></span>
				a.header__logo(href="/")
					+svg("", "logo_icon")(class="icon icon--svg-logo-icon")
				.header__right-side
					p.header__phone-number <i></i><span>8(906) 777-66-06</span>
					button.btn.btn--1_theme_dark.bg--gd-orange.header__btn-brief-form <span>Оставить заявку</span>