svg(xmlns='http://www.w3.org/2000/svg', style="display:none")
    defs
        symbol#icon_social-vk
            include ../../../img/svg/icon-social-vk.svg
        symbol#icon_social-ig
            include ../../../img/svg/icon-social-ig.svg
        symbol#icon_social-tg
            include ../../../img/svg/icon-social-tg.svg
        symbol#icon_social-fb
            include ../../../img/svg/icon-social-fb.svg