svg(xmlns='http://www.w3.org/2000/svg' class="svg-icons-list")
    defs
        include ../../../img/svg/_svg_defs.svg

        symbol#layer_decorate-shadow
            include ../../../img/svg/decorate-shape-shadow.svg
        symbol#icon_social-vk
            include ../../../img/svg/icon-social-vk.svg
        symbol#icon_social-ig
            include ../../../img/svg/icon-social-ig.svg
        symbol#icon_social-tg
            include ../../../img/svg/icon-social-tg.svg
        symbol#icon_social-fb
            include ../../../img/svg/icon-social-fb.svg

            
        symbol#icon_opening-1
            include ../../../img/svg/icon-opening-1.svg
        symbol#icon_opening-b-text-1
            include ../../../img/svg/icon-opening-b-text-1.svg
        symbol#icon_opening-f-text-1
            include ../../../img/svg/icon-opening-f-text-1.svg