// Breakpoints
$screen_lg				: 1180px;
$screen_md				: 992px;
$screen_sm				: 768px;
$screen_xs				: 480px;


// Fonts
$font_1			        : "M+PLUS+1p", Helvetica, Arial, sans-serif;
$font_2			        : "Montserrat", Helvetica, Arial, sans-serif;


// Default paths
$img_path				: '../img/';
$sprite_path			: $img_path + 'svg/icons.svg';


// Colors
$color_dark             : #32363C;

$color_orange           : #EB5A0F;
$color_orange_1         : #F2864D;

$color_blue             : #215098;
$color_blue_1           : #4F83CB;