.bg--1 {
    background-color: $color_orange;
    color: #fff;
}

.bg--2 {
    background-color: $color_blue;
    color: #fff;
}

.bg--gd-orange {
    background: linear-gradient(101.82deg, #E65D1A 0%, #FA280B 100%);
}