.footer {
	margin-top: 84px;
	background-color: #fdfdfd;

	.footer__wrap {
		overflow: hidden;
		// border: 1px solid red;
	}

	.footer__decorate-layer {
		margin-top: -41px;
		margin-bottom: -42px;
		text-align: center;
	}

	.footer__nav ul {
		justify-content: center;
		margin-top: 42px;

		li {
			margin: 0 20px;
		}

		li a {
			text-decoration: none;
			font: 14px $font_2;
			color: inherit;
			font-style: normal;
			font-weight: bold;
			text-transform: uppercase;
			transition: 0.3s;

			&:hover {
				opacity: 0.5;
			}
		}
	}

	.footer__social-links {
		height: 32px;
		margin: 42px auto 56px auto;
		// width: 30%;
		// border: 1px solid red;

		ul {
			justify-content: center;

			li {
				margin: 0 10px;
			}
		}
	}

	.footer__copyright {
		font-size: 14px;
		text-align: center;
		border-top: 1px solid rgba(50, 54, 60, 0.15);
		margin: 0;
		color: rgba(50, 54, 60, 0.5);
		font-style: normal;
		font-weight: 500;
		padding: 18px 0;

		span {
			color: rgba(50, 54, 60, 0.8);
		}
	}



	@media screen and (max-width: $screen_sm) {

 

		.footer__nav ul {
			display: block;
			text-align: center;

			li {
				margin: 14px 0;
			}
		}
	 
	}

}