.header {

	.header__wrap {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;
		background: rgba(255, 255, 255, 0.92);
	}

	.header__inner {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		height: 84px;
		// outline: 1px solid red;
	}

	.header__logo {
		@include center-1;
		width: 45.41px;
		height: 42px;
	}

	.header__right {
		display: flex;
		align-items: center;
	}

	.header__phone-number {
		
		font: 14px $font_2;
		span {opacity: 0.5;}
		&:hover span {
			opacity: 1;
		}

		i {
			float: left;
			margin-top: 1px;
			margin-right: 10px;
			display: inline-block;
			height: 14px;
			width: 9px;
			background-color: $color_dark;
			padding: 3px 2px;
			border-radius: 1px;

			&:before {
				display: block;
				background-color: #fff;
				width: 100%;
				height: 100%;
				content: "";
			}
		}
		
	}

	.header__btn-form {
		margin-left: 20px;
	}

	


	@media screen and (max-width: $screen_md) {
		 
		.header__btn-form {
			width: 36px;
			border-width: 1px;
			border-radius: 4px;

			span {
				display: none;
			}

			&:before {display: block;}
			
		}
	}

	@media screen and (max-width: $screen_sm) {

		.header__inner {
			height: 70px !important;
		}

		
		.header__phone-number {
			display: none;
		}
		
	}


}

