.btn {
	display: inline-block;
	background-color: transparent;
	text-decoration: none;
	border: none;
	outline: none;
	color: inherit;
	font: 12px $font_2;
	font-weight: 500;
	@include text-select-off;



 
	&.btn--primary, &.btn--2 {
		position: relative;
		width: 172px;
		border: 1px solid $color_dark;
		text-transform: uppercase;
		padding: 0;
		height: 36px;
		border-radius: 30px;
		overflow: hidden;
		transition: 0.2s ease-in-out;
		
		i {
			display: none;
			font-style: normal;
			font-weight: 800;
		}
		
		span, i {
			@include center-1;
			top: 10px;
			z-index: 1;
		}

		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			margin: auto;
			opacity: 1;
			background-color: #fff;
			transition: 0.3s ease-in-out;
			box-shadow: 0 0 12px #fff;
			z-index: 0;
		}

		&:hover {
			color: #fff;
			border-color: $color_orange;
			box-shadow: 0px 14px 30px rgba(230, 93, 26, 0.15);
		}
		
		&:hover:after {
			opacity: 0;
			width: 0;
			border-radius: 100%;
			border-color: $color_orange !important;
		}
		
	}

	&.btn--2 {
		&:hover {
			border-color: $color_blue_1 !important;
			box-shadow: 0px 14px 30px rgba(33, 80, 152, 0.15);
		}

		&_inverse {
			color: #fff;
			border-color: $color_blue_1;
			&:after {
				opacity: 0;
				width: 0;
				border-radius: 100%;
			}

			&:hover {
			 
				color: $color_blue_1;
			}
			&:hover::after {
				opacity: 1;
				width: 100%;
				border-radius: 0;
			}
		}
	}








	&.btn--hamburger {
		width: 26px;
		height: 18px;
		padding: 1px 0;
		overflow: hidden;
		opacity: 0.8;
		

		&:hover span {
			width: 100%;
			background-color: $color_orange;
		 
		}

		
		
		span {
			display: block;
			height: 2px;
			margin: 5px auto;
			width: 50%;
			background-color: $color_dark;
			transition: 0.3s ease-in-out;
		}

		&:after, &:before {
			display: block;
			content: "";
			background-color: $color_dark;
			height: 2px;
		}
	 
	}
	 
}



 