.btn {
	display: inline-block;
	background-color: transparent;
	text-decoration: none;
	border: none;
	outline: none;
	color: inherit;
	font: 12px $font_2;
	font-weight: 500;
	@include text-select-off;



 
	&.btn--1_theme_dark,
	&.btn--1_theme_blue,
	&.btn--1_theme_blue_inverse {
		position: relative;
		width: 172px;
		border: 1px solid $color_dark;
		text-transform: uppercase;
		padding: 0;
		height: 36px;
		border-radius: 30px;
		overflow: hidden;
		transition: 0.2s ease-in-out;
		
		/* i {
			display: none;
			font-style: normal;
			font-weight: 800;
		} */
		
		span, i {
			@include center-1;
			top: 10px;
			z-index: 1;
			color: $color_dark;
			transition: 0.2s ease-in-out;

		}

		&:before {
			@include center-1;
			top: 8px;
			content: "\279C";
			display: none;
			border-radius: 100%;

		}

		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			margin: auto;
			opacity: 1;
			background-color: #fff;
			transition: 0.3s ease-in-out;
			box-shadow: 0 0 12px #fff;
			z-index: 0;
		}

		&:hover {
			color: #fff;
			border-color: $color_orange;
			box-shadow: 0px 14px 30px rgba(230, 93, 26, 0.15);
			span {color: #fff;}
		}
		
		&:hover:after {
			opacity: 0;
			width: 0;
			border-radius: 100%;
			border-color: $color_orange !important;
		}

		
	}

	



	
	&.btn--1_theme_blue {
		color: $color_blue_1;
		border: 1px solid $color_blue_1;

		span {color: inherit;}

		&:hover {
			border-color: $color_blue_1 !important;
			box-shadow: 0px 14px 30px rgba(33, 80, 152, 0.15);
			color: #fff;
		}

		&_inverse {
			color: #fff;
			border-color: $color_blue_1;
			span {color: inherit;}

			&:after {
				opacity: 0;
				width: 0;
				border-radius: 100%;
			}

			&:hover {
				border-color: $color_blue_1 !important;
				box-shadow: 0px 14px 30px rgba(33, 80, 152, 0.15);
				color: $color_blue_1;
				span {color: inherit;}
			}

			&:hover::after {
				opacity: 1;
				width: 100%;
				border-radius: 0;
			}
		}
	}



	&.btn--tag_theme_blue {
		position: relative;
		font-style: normal;
		font-weight: bold;
		border: 1px solid $color_dark;
		text-transform: uppercase;
		padding: 0 30px;
		height: 36px;
		border-radius: 30px;
		overflow: hidden;
		transition: 0.2s ease-in-out;
		border: 1px solid $color_blue_1;

		&:hover {
			background: $color_gd_blue;
			color: #fff;

			&:before {
				color: rgba($color: #fff, $alpha: 0.4);
			}
		}

		&:before {
			display: inline;
			content: "#";
			margin-right: 2px;
			color: rgba($color: $color_dark, $alpha: 0.4);
		}

		span {
			@include center-1;
			top: 10px;
			z-index: 1;
			
		}

		&.btn--tag_active {
			background: $color_gd_blue;
			color: #fff;

			&:before {
				color: rgba($color: #fff, $alpha: 0.4);
			}
		}
	}




	&.btn--hamburger {
		width: 26px;
		height: 18px;
		padding: 1px 0;
		overflow: hidden;
		opacity: 0.8;
		

		&:hover span {
			width: 100%;
			background-color: $color_orange;
		 
		}

		
		
		span {
			display: block;
			height: 2px;
			margin: 5px auto;
			width: 50%;
			background-color: $color_dark;
			transition: 0.3s ease-in-out;
		}

		&:after, &:before {
			display: block;
			content: "";
			background-color: $color_dark;
			height: 2px;
		}
	 
	}


	&.btn--slider-control  {
		position: relative;
		background: #fff;
		width: 42px;
		height: 42px;
		border: 1px solid $color_dark;
		border-radius: 50px;
		opacity: 0.9;
		overflow: hidden;
		transition: 0.3s;

		&:hover {
			transform: rotate(360deg);
			background: $color_blue_1 !important;
			border-color: $color_blue_1;

			i {
				background-color: #fff;
			}

				
		}

		i {
			position: absolute;
			display: inline-block;
			width: 6px;
			height: 6px;
			background: $color_dark;
			border-radius: 7px;
		}
	}
	 
}



 