.btn {
	display: inline-block;
	background-color: transparent;
	text-decoration: none;
	border: none;
	outline: none;
	@include text-select-off;


	&.btn--def {
		width: 172px;
		border: 1px solid $color_dark;
		font: 12px $font_2;
		text-transform: uppercase;
		padding: 10px;
		border-radius: 30px;
	}
	 
}