.field {
	position: relative;
	display: block;
	
	input[type="text"] {
 

		&:focus {
			outline: none;
		}
	}

	&.field--user-info {
		input {
			background: none;
			border: none;
			width: 100%;
			font-size: 24px;
			color: #fff;
			border-bottom: 1px solid #fff;
			opacity: 0.1;
			padding-bottom: 15px;
		}
		

	}
}