.icon {
	display: inline-block;
	background-color: transparent;
	border: none;
	background-image: url($sprite_path);
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;

	&:focus {
	    border: none;
	    outline: none;
  	}


  	&.icon--plus {
  		@include icon-mx(-72px 0, 14px, 14px)

  	}

  	&.icon--pouch {
  		@include icon-mx(0 0, 54px, 54px);
  	}
}