.icon {
	display: inline-block;
	border: none;
	margin: 0;
	padding: 0;

	&.icon--social-vk {
		width: 19px;
		height: 11px;
		fill: $color_orange;
		transition: 0.3s;
	}

	&.icon--social-ig {
		width: 14px;
		height: 14px;
		fill: $color_orange;
		transition: 0.3s;
	}

	&.icon--social-tg {
		width: 16px;
		height: 14px;
		fill: $color_orange;
		transition: 0.3s;
	}

	&.icon--social-fb {
		width: 14px;
		height: 14px;
		fill: $color_orange;
		transition: 0.3s;
	}
}