.link {

    &.link--def {
        color: rgba(50, 54, 60, 0.8);
        font-size: 22px;
    }


    &.link.link--social-vk {
        width: 32px;
        height: 32px;
        background: #FFFFFF;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
    }
}