.link {

    &.link--def {
        display: inline-block;
        overflow: hidden;
        position: relative;
        color: rgba($color: $color_dark, $alpha: 0.8);;
  

        &:after {
            content: "";
            position: absolute;
            height: 100%;
            width: 14px;
            left: -14px;
            top: 0;
            background-color: rgba($color: #fff, $alpha: 0.3);
            transition: 0.3s ease-in-out;
        }

        &:hover:after {
            left: 120%;
        }
    }


    &.link.link--social-item {
        display: inline-block;
        text-align: center;
        padding-top: 5px;
        width: 32px;
        height: 32px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        transition: 0.3s background-color;
        overflow: hidden;

        &:hover {
            background-color: $color_orange;
        }

        &:hover .icon {
            fill: #fff;
        }
    }




    
}