.link {

    &.link--def {
        color: rgba(50, 54, 60, 0.8);
        font-size: 22px;
    }


    &.link.link--social-item {
        display: inline-block;
        text-align: center;
        padding-top: 4px;
        width: 32px;
        height: 32px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        transition: 0.3s background-color;
        overflow: hidden;

        &:hover {
            background-color: $color_orange;
        }

        &:hover .icon {
            fill: #fff;
        }
    }
}