// Headers

.heading {

    &.heading--1 {
        text-align: center;
        font: 34px $font_2;
        font-weight: bold;
        text-align: center;
        margin: 80px 0 56px 0;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        span {
            position: relative;
            display: inline-block;

            &:after, &:before {
                position: absolute;
                display: inline-block;
                left: 0;
                bottom: 0;
                width: 100%;
                content: "";
                height: 4px;
                background-color: $color_orange;
            }

            &:before {
                width: 10px;
                left: -10px;
                background-color: #fff;
                z-index: 1;
                transition: 0.3s;
            }

            &:hover:before {
                left: 100%;
            }

        }
      
    }

    &.heading--2 {
        font: 22px $font_2;
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.1em;
        margin: 28px 0;
    }

    &.heading--3 {
        font: 22px $font_2;
        font-style: normal;
        font-weight: normal;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin: 56px 0 42px 0;

        b {
            font-weight: normal;
            color: $color_orange;
        }
    }
}


// Paragraphs

.prgh--def {
	color: rgba(50, 54, 60, 0.5);
	font-weight: normal;
	line-height: 150%;
	margin: 0;
    text-align: left;
    margin: 28px 0;
}


// ADAPTIVE

@media screen and (max-width: $screen_sm) {
    .heading--primary {
        font-size: 22px !important;
    }
}