// Headers

.heading {

    &.heading--main {
        text-align: center;
        font: 34px $font_2;
        font-weight: bold;
        text-align: center;
        margin: 80px 0 56px 0;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        span {
            position: relative;
            display: inline-block;

            &:after, &:before {
                position: absolute;
                display: inline-block;
                left: 0;
                bottom: 0;
                width: 100%;
                content: "";
                height: 4px;
                background-color: $color_orange;
            }

            &:before {
                width: 10px;
                background-color: #fff;
                z-index: 1;
                transition: 0.3s;
            }

            &:hover:before {
                left: 100%;
            }

        }

        

       

      
    }
}


// Paragraphs

.prgh--def {
	color: rgba(50, 54, 60, 0.5);
	font-weight: normal;
	line-height: 150%;
	margin: 0;
	text-align: center;
}